{% extends 'base.html' %}
{% block navbar_items %}
<li class="nav-item"><a class="nav-link" href="{%url 'tournaments:tournois'%}">Tournois</a></li>
<li class="nav-item"><a class="nav-link" href="{%url 'tournaments:tournoi_detail' match.pool.tournament.id%}">{{match.pool.tournament}}</a></li>
<li class="nav-item"><a class="nav-link" href="{%url 'tournaments:poule_detail' match.pool.id%}">Poule {{match.pool.pool_number}}</a></li>
<li class="nav-item"><a class="nav-link active" href="">{{match}}</a></li>
{% endblock %}

{% block head %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        border:3px solid #000000;
        width: 70%; 
        padding: 8px 16px!important;
        padding-top: 16px!important;
        padding-bottom: 16px!important;   
    
    }
    
    td {
        border:3px solid #000000;padding: 8px 16px!important;
        padding-top: 8px!important;
        padding-bottom: 8px!important; 
    }

    th {
        border:3px solid #000000;
        background-color: lightcyan
    }
    </style>

{% endblock head %}

{% block content %}

{% if match %}

    <div class="container-fluid border m-3" >
        <h6 class="my-2"><p>{{match}}</p></h6>
        <div class="row ">
            <div class="col-md-auto"><p class="fw-bold" >Lieu : </p></div>
            <div class="col-md-auto "><p>{{match.location}} </p></div>
        </div>
        <div class="row" style="margin-top:-17px">
            <div class="col-md-auto"><p class="fw-bold" >Date : </p></div>
            {%if match.date and match.time%}
            <div class="col-md-auto "><p>{{match.date}}, à {{match.time}} </p></div>
            {%elif match.date%}
            <div class="col-md-auto "><p>{{match.date}}, heure non définie </p></div>
            {%else%}
            <div class="col-md-auto "><p>Non fixée</p></div>
            {%endif%}
        </div>
    </div>
        <table>
            <tbody>
            <tr>
            <th>{{match.team_1}}</th>
            <th>{{match.team_2}}</th>
            </tr>
            <tr>
            <td>{{match.score_1}}</td>
            <td>{{match.score_2}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="container-fluid m-3">

        <h5><p>Commentaires : </p></h5>
        {%if match.commentaire_set.all%}
            {%for comment in match.commentaire_set.all%}
                {%if comment.id == comment_id %}
                    <form action="{%url 'tournaments:edit_comment' match.id comment_id%}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit">
                    </form>
                {%else%}
                    <p> {{comment.author}} a écrit : </br> {{comment.content}} </p>
                    {% if comment.author == request.user%}
                        <p><a href = "{%url 'tournaments:edit_comment' match.id comment.id %}">Modifier</a></p>
                    {%endif%}
                {%endif%}
            {% endfor%}
        {% else %}
            <p> Soyez le premier à laisser un commentaire ! </p>
        {% endif%}
        {%if not comment_id %}
            {%if form%}
            <div>
                <form action="{%url 'tournaments:match_detail' match.id%}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Poster">
                </form>
            </div>
            {%else%}
                <p>Vous devez être connecté pour laisser un commentaire.</p>
            {%endif%}
        {%endif%}
{% else %}
    <p>Ce match n'existe pas.</p>
{% endif %}
{% endblock content %}