{% extends 'base.html' %}
{% block navbar_items %}
<li class="nav-item"><a class="nav-link" href={%url 'tournaments:tournois'%}>Tournois</a></li>
<li class="nav-item"><a class="nav-link active" href="" aria-current="page">{{tournoi}}</a></li>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <h3>{{tournoi}} </h3>
    
<hr>
    
{% if tournoi %}
    {% if tournoi.poule_set %}
        {% for poule in tournoi.poule_set.all %}
            <div class="container-fluid">
                <h4 class="my-2"><a href="{% url 'tournaments:poule_detail' poule.id %}">{{poule}}</a></h4>
                <div class="row ">
                    <div class="col-md-auto"><p class="fw-bold">Equipes :</p></div>
                    {%for team in poule.teams.all%}
                        <div class="col-md-auto"><p>{{team}}</p></div>
                    {%endfor%}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune poule n'est disponible actuellement.</p>
    {% endif %}
{%endif%}
    <hr>
</div>
{% endblock content %}