{% if username %}
    <p>Bonjour {{username}}</p>
    <form action="{%url 'logout'%}">
        <button type="submit">Déconnection</button>
    </form>
{% else %}
    <form action="{%url 'login'%}">
        <button type="submit">Connection</button>
    </form>
{% endif %}
{% if tournois_list %}
    <ul>
    {% for tournoi in tournois_list %}
        <li><a href="{% url 'tournaments:tournoi_detail' tournoi.id %}">{{tournoi.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tournament are available.</p>
{% endif %}
