<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tournois{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head %}{% endblock %}
</head>

<header>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">

    <div class="container-fluid collapse navbar-collapse">
        <!-- Links -->
        <ul class="nav navbar-nav">
            {% block navbar_items %}{% endblock %}
        </ul>
        <div class="nav navbar-nav navbar-right my-1 ">
             
        {% if username %}
            
            <form action="{%url 'logout'%}" class="form-inline d-flex mx-1">
                <label for="next" class="navbar-text mx-2 ">Bonjour {{username}} </label>
                <input class="form-control me-2" type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-outline-success">Déconnection</button>
            </form>
        {% else %}
            <form action="{%url 'login'%}" class="form-inline d-flex mx-1">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-primary navbar-btn">Connection</button>
            </form>
        {% endif %}
        
        </div>
           
        </div>
    </nav>
 </header>
 <body>     
        {% block content %}{% endblock %}

        <div>
            <footer>
                <em>&copy; ISAE-SUPAERO</em>
            </footer>
        </div>
    
</body>

</html>
